@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
  --background: #e8e3e122;
  --product-background: #ebebeb56;
  --foreground: #252525;
  --header-background: #f0f1f2; 
  --header-foreground: #3c4043;
  --header-hover-background: #e1e3e5; 
  --header-hover-foreground: #3c4043;
  --border: #e0e0e0;
  --hero-car-image: url('/images/hero/light-hero-car.png');
  --sidebar-background: #d2deeae6; 
  --header-background: #d2deea56;
  --sidebar-foreground: #252525;
  --sidebar-hover-background: #d2deeaa4;
  --project-background: #fbfbfb; 
  --text-light: #e0e0e0; 
  --text-dark: #3c4043;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

h1, h2, p, a {
  color: var(--foreground);
}

a:hover {
  color: var(--foreground);
}